html,
body{
	margin: 0;
	color: #333;
	font-family: sans-serif;
}

body{
	background-color: #7f8c8d;
}

.box{
	width: 100px;
	height: 100px;
	background-color: #e74c3c;
}

.front-page .box{
	background-color: #2980b9;
}



